name: Schedule test

on:
  schedule:
    - cron: "*/20 * * * *"

jobs:
  fetch-news:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print success message
        run: |
          echo "The scheduled workflow ran successfully on $(date)."
